LLM_BASE_URL = https://api.openai.com/v1
LLM_API_KEY = key

SMALL_MODEL_NAME = 
LARGE_MODEL_NAME = 


LANGFUSE_HOST = https://cloud.langfuse.com
LANGFUSE_PUBLIC_KEY = 
LANGFUSE_SECRET_KEY = 


QDRANT_URL = 
QDRANT_API = 
